.form__name {
  box-sizing: border-box;
  margin: 50px 0 0 36px;
  padding: 0 0 11px 0;
  width: 358px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__name:focus {  
  outline: none;
}

@media screen and (max-width: 617px) {
  .form__name {
    margin: 75px 22px 0 22px;
    width: 238px;
  }
}